{% extends 'layouts/base.html' %}

{% block content %}
<h1>About</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi commodi enim inventore vitae aperiam aliquam fugit rem, ducimus exercitationem? Nostrum, eaque ab nihil autem modi repudiandae? At animi adipisci iusto dolore, placeat perferendis officia sed natus deleniti veritatis nostrum, alias enim ullam. Aut deserunt vitae alias dolorum exercitationem atque ea eum laborum debitis quam minima et molestias quisquam at, fugit, officiis enim voluptatibus vero beatae? Amet, maxime, a vel provident fugit sequi deserunt natus quae aperiam ipsa corporis, ipsam veniam reprehenderit accusantium aliquid dignissimos illo ullam eius consequuntur odio? Consequuntur consequatur ad error omnis nihil provident sunt excepturi blanditiis architecto!</p>
<p>Website created by {{ username }}</p>
{% endblock %}